<div class="flex gap-5 flex-wrap justify-center">
<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component1" column_num={3} content="asd1" />
<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component2" column_num={5} content="asd2"/>
<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component3" column_num={4} content="asd3"/>
</div>
