<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component1" content={"fuuuuuck"} />
<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component2" content={"fuuuuuck1"} />
<.live_component module={ChatAppWeb.Live.ChartComponent} id="chart_live_component3" content={"fuuuuuck2"} />